
syntax: glob
fcgi-bin/*
cgi-bin/*
awstats/*
cp/*
bin/*
*.log
*.orig
*.bkp
*.bak
*_bkp.*
*_bkp
*.mno
*.sh
*.bat
*.exe
*.rar
*.zip
*.db
*.tar
*.gz
*.gzip
*.swp
*.dll
*.sql
/robots.txt
/sitemap*.xml
Thumbs.db
/google*.html
/abs.txt
/.DS_Store
/.idea
/php.ini
/.user.ini
/baidu_verify_*.html
/docker-compose.yml
/package-lock.json
/wp-content/autoptimize_404_handler.php
/wp-content/advanced-cache.php
/wp-content/wp-rocket-config/
/wp-content/_wp-rocket-config/
/wp-content/cache/
/wp-content/webp-express/
/wp-content/updraft/
/wp-content/ai1wm-backups/
/wp-content/wp-cache-config.php
/wp-content/uploads/
/bootmode
/vendor/*
error_log
pi.php
.pki/*
.pki
